
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/bd2e201e-3309-4859-bac5-c4899bfa59c5.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/php7cookbook.iml
.idea/vcs.xml
.idea/workspace.xml
